.post{
    margin: 10px auto;
    width: 40%;
    border: 1px solid gray;
}

.post_header{
    display: flex;
    align-items: center;
    padding: 10px;
}

.post_avatar{
    margin-right: 10px;
}

.post_img_container{
    width: 100%;
    height: 350px;
    margin: 5px 0;
}

.post_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.post_text{
    font-weight: lighter;
    padding: 10px;
}

.display_comment{
    padding: 0 10px;
}

.display_comment h3{
    color: lightgray;
    font-weight: 500;
}

.display_comment p{
    padding-left: 15px;
}

.comment_section{
    display: flex;
}

.comment{
    flex: 1;
    border: 1px solid lightgray;
    padding: 10px;
    border-right: none;
    border-bottom: none;
    outline: none;
}

.post_comment{
    flex: 0;
    border: none;
    color: lightblue;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid lightgray;
    border-left: none;
    border-bottom: none;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .post{
        width: 100%;
    }
  }